body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-top: 2%;
  background-color: rgb(207, 253, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-width: 375px;
  max-width: 1155px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Cart-Container {
  width: 67.75%;
}

.menu {
  max-width: 784px;
  width: 100%;
}

.Bought-Container {
  width: 30.25%;
  height: auto;
}

.boughtMenu {
  width: 100%;
  height: 100%;
  background-color: white;
}

.search {
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  width: 100%;
}

.add {
  border: 0;
  background: #0087cc;
  text-align: center;
  font-weight: bold;
  border-radius: 0 4px 4px 0;
  box-shadow: inset 0 -5px 0 #006599;
  color: #fff;
  cursor: pointer;
  padding: 12px 20px;
}

#searchingBar {
  padding-left: 10px;
  height: 35px;
  font-size: 1em;
  background: #FFF;
  border: 1px solid rgba(34, 36, 38, .15);
  color: rgba(0, 0, 0, .87);
  border-radius: .28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  resize: none;
  border-right: none;
}

.cross {
  width: 29px;
  line-height: 29px;
  text-align: center;
  font-weight: bold;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2.5px 0 rgb(174, 0, 0);
  border: 0.4px solid rgb(255, 39, 39);
  margin-left: 5px;
}

.BoughtRow {
  padding-left: 15px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid rgba(34, 36, 38, .15);
  border-top: 1px solid rgba(34, 36, 38, .15);
}

.leftovers {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin-left: 15px;
  background-color: #E8E8E8;
  padding: .5833em .833em;
  color: rgba(0, 0, 0, .6);
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .28571429rem;
  font-size: 10px;
}

#leftovers {
  display: inline-block;
  height: auto;
  width: 100%;
}

.orangeCircleWithNumber {
  background-color: #f2711d;
  border-radius: 10px;
  display: inline-flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.didnotBought {
  width: 90px;
  line-height: 31px;
  text-align: center;
  font-weight: bold;
  background-color: #fbfbfb;
  color: #707070;
  border-radius: 13%;
  box-shadow: inset 0 -2.5px 0 rgb(173, 173, 173);
  border: 0.4px solid rgb(228, 228, 228);
  margin-right: 0px;
}

.buy {
  width: 81px;
  line-height: 31px;
  text-align: center;
  font-weight: bold;
  background-color: #fbfbfb;
  color: #707070;
  border-radius: 5px;
  box-shadow: inset 0 -2.5px 0 rgb(173, 173, 173);
  border: 0.4px solid rgb(228, 228, 228);
  margin-right: 0px;
}

.minus {
  border-radius: 50%;
  padding: 7px 11px;
  border: none;
  outline: none;
  background-color: red;
  box-shadow: inset 0 -2.5px 0 rgb(174, 0, 0);
  color: white;
}

.plus {
  border-radius: 50%;
  padding: 7px 9px;
  border: none;
  outline: none;
  background-color: green;
  box-shadow: inset 0 -2.5px 0 rgb(0, 87, 0);
  color: white;

}

.buttonsAfter {
  text-align: right;
  display: none;
  width: 20vw;
  max-width: 260px;
  min-width: 120px;
  height: 33px;
}

.buttons {
  text-align: right;
  display: inline-block;
  width: 20vw;
  max-width: 260px;
  min-width: 120px;
  height: 33px;
}

.item:focus {
  outline: 1px solid #8aff7d;
  display: inline-block;
  box-sizing: border-box;
  font-size: 13px;
  height: 16px;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 10000vw;
  max-width: 205px;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  border-bottom: 1px solid #d2d7d9;
  align-items: center;
  vertical-align: middle;
  background-color: white;
  height: 57px;
}

.rowFirst {
  max-width: 760;
  display: flex;
  border-bottom: 1px solid #d2d7d9;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  background-color: white;
  height: 60px;
}
.Labelamount {
  display: inline-block;
  border-radius: 10%;
  background-color: lightgray;
  width: 27px;
  height: 27px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.DivCount {
  padding-top: 5px;
  text-align: center;
}

.UI {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 25vw;
  max-width: 286px;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  border-radius: 10%;
  content: attr(data-tooltip);
  position: absolute;
  width: 100px;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #6c00ab;
  color: #fff;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: 1s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  top: -4em;
}

@media (max-width: 501px) {
  .wrapper {
    flex-wrap: wrap
  }

  .Bought-Container {
    padding: 0px;
    margin: 0px;
    max-width: 764px;
    width: 100%;
    margin-top: 20px;
  }

  .Cart-Container {
    width: 100%;
  }

  .item {
    min-width: 68px;
    width: 20%;
  }

  .UI {
    width: 36.5%;
  }

  .buttonsAfter {
    min-width: 150px;
    max-width: 240px;
    width: 43.5%;
    text-align: right;
    display: none;
  }

  .buttons {
    min-width: 150px;
    max-width: 240px;
    width: 43.5%;
    text-align: right;
    display: inline-block;
  }
}
@media print {
  .badge-container {
    background-color: white;
  }

  .badge {
    border-width: 2px !important;
    border-style: solid !important;
    border-color: #6c00ab !important;
    height: 50px !important;
  }

  .badge-text {
    display: none;
  }

  .badge-author {
    display: block !important;
    color: #000000 !important;
  }
}
@media (max-width: 501px) {
  .buttonsAfter {
    min-width: 150px;
    max-width: 240px;
    width: 43.5%;
    text-align: right;
    opacity: 1;
    transition: transform 0.5s ease;
    transform: translateX(0);
  }

  .buttons {
    min-width: 150px;
    max-width: 240px;
    width: 43.5%;
    text-align: right;
    display: inline-block;
    opacity: 1;
    transition: transform 0.5s ease;
    transform: translateX(0);
  }
}


.badge {
  transform: translateY(-30px);
  height: 25px;
  width: 75px;
  text-align: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-top: 3px;
  border: 3px;
  border-color: #6c00ab;
  background-color: #6c00ab;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
  transition: background-color 1s linear, height 3s, transform 3s;
}

.badge:hover {
  height: 70px;
  transform: translateY(-75px);
  background-color: #2285d0;
}

.badge-text {
  font-family: Arial, sans-serif;
}

.badge:hover .badge-author {
  display: block;
}

.badge-author {
  display: none;
  padding-top: 5px;
  padding-left: 4px;
  font-size: 12px;
  color: #ffffff;
  text-align: left;
}
